{% extends "admin/base.html" %}

{% block content %}


<form action="" enctype="multipart/form-data" method="post" class="text-center">

  {% load bootstrap4 %}

  {% csrf_token %}
  <b>Enter Your Username or Email to reset.</b>
  {% if form.email.errors %}
  {{ form.email.errors }}
  {% endif %}

  <p>{{ form.email }}</p>
 
  <button type="submit" value="Submit" class="btn btn-secondary">Reset password</button>

</form>

<style>
  #id_email{
    text-transform: lowercase;
  }
</style>

<script>
  $(document).ready(function () {

    $('input').addClass('form-control');

  });
</script>

{% endblock %}