{% extends "manage/base.html" %}

{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block title %}
UserProfile User Listing
{% endblock %}

{% block content %}

{% if not global_recordpicker %}
<a class="float-right btn btn-success btn-sm" href="{% url "manage_userprofile_user_create" %}">
  <i class="fa fa-plus"></i>
  Add New
</a>
{% endif %}

{% if filter %}
<form action="" method="get" class="filtering-form">
  {% bootstrap_form filter.form layout='inline' size='sm' field_class="p-1 mt-2" %}
  <input type="hidden" name="recordpicker" value="{{ global_recordpicker }}">
  <input type="hidden" name="limit" value="{{ limit }}">

  <div class="form-group is-valid">
    <label class="sr-only" for="id_inviter__username">&nbsp;</label>
    <div class="p-1 mt-2">
              {% bootstrap_button 'Search'  size='sm' %}
        <a class="btn btn-danger btn-sm" href="{% url 'reset_search' %}?next_to={{ global_current_url }}">Reset</a>
    </div>
  </div>
</form>
{% endif %}

<div class="table-responsive">
  {% render_table table %}
</div>

<!--
  <select class="form-control form-control-sm" style="max-width: 200px;">
    <option value="">Some Mass Action</option>
  </select>
  -->

  <script>
    $(document).ready(function(){
  
      $( "label[for='id_profile__gender']" ).text( "Gender" );
      $( "label[for='id_profile__phone']" ).text( "Phone" );
      $( "label[for='id_profile__country']" ).text( "Country" );
      
    });
  </script>


{% endblock %}