{% extends "manage/base.html" %}

{% load django_bootstrap5 %}


{% block title %}
    Add/Edit UserProfile User
{% endblock %}

{% block content %}
<a class="btn btn-dark btn-sm" href="{% url 'manage_userprofile_user_list' %}">
    <i class="fa fa-arrow-left"></i>
    Back to Listing
</a>

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}


    <div class="row">
        <div class="col-sm-6">
            <h5 class="text-center bg-light">Profile Details</h5>

            {% bootstrap_field form.gender  field_class="profile_gender" %}
            {% bootstrap_field form.date_of_birth  field_class="profile_date_of_birth" %}
            {% bootstrap_field form.blocked  field_class="profile_blocked" %}
            
        </div>
        
        <div class="col-sm-6">
            <h5 class="text-center bg-light">Other Details</h5>
            
            {% bootstrap_field form.address  field_class="profile_address" %}
            {% bootstrap_field form.phone  field_class="profile_phone" %}
            {% bootstrap_field form.town  field_class="profile_town" %}
            {% bootstrap_field form.location  field_class="profile_location" %}
            
        </div>

    </div>   

    {% bootstrap_button 'Save' button_class="btn-success" extra_classes=" stopresent mb-3" %}

    {% if object.pk %}
    {% bootstrap_button 'Save As Copy' name="save_method" value="copy"  extra_classes="float-right btn-warning stopresent mb-3" %}
    {% endif %}

</form>
{% endblock %}
