{% extends "manage/base.html" %}

{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block title %}
Blog Listing
{% endblock %}

{% block content %}

{% if not global_recordpicker %}
<a class="float-right btn btn-success btn-sm" href="{% url "manage_blog_create" %}">
  <i class="fa fa-plus"></i>
  Add New
</a>
{% endif %}

{% if filter %}
<form action="" method="get" class="filtering-form">
  {% bootstrap_form filter.form layout='inline' size='sm' field_class="p-1 mt-2" %}

  <div class="form-group is-valid">
    <label class="sr-only" for="id_inviter__username">&nbsp;</label>
    <div class="p-1">
      {% bootstrap_button 'Search'  size='sm' %}
      <a class="btn btn-danger btn-sm" href="{% url 'reset_search' %}?next_to={{ global_current_url }}">Reset</a>
    </div>
  </div>
</form>
{% endif %}

<div class="table-responsive">
  {% render_table table %}
</div>



{% endblock %}