{% extends "manage/base.html" %}

{% load django_bootstrap5 %}


{% block title %}
Add/Edit Blog
{% endblock %}

{% block content %}
<a class="btn btn-dark btn-sm" href="{% url 'manage_blog_list' %}">
    <i class="fa fa-arrow-left"></i>
    Back to Listing
</a>

<form class="form-content" action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-8">
            {% bootstrap_field form.title field_class="blog_title" %}
            {% bootstrap_field form.slug field_class="blog_slug" %}
            {% bootstrap_field form.content field_class="blog_content" %}
        </div>

        <div class="col-sm-4">
            {% bootstrap_field form.category field_class="blog_category" %}
            {% bootstrap_field form.featured_image field_class="blog_featured_image" %}
            <div class="row">
                <div class="col-sm-6">
                    {% bootstrap_field form.featured field_class="blog_featured" %}
                </div>
                <div class="col-sm-6">
                    {% bootstrap_field form.published field_class="blog_published" %}
                </div>
            </div>
            {% bootstrap_field form.hits field_class="blog_hits" %}
        </div>
    </div>


    {% bootstrap_button 'Save' button_class="btn-success" extra_classes=" stopresent mb-3" %}

    {% if object.pk %}
    {% bootstrap_button 'Save As Copy' name="save_method" value="copy" extra_classes="float-right btn-warning stopresent
    mb-3" %}
    {% endif %}

</form>
{% endblock %}