{% extends "manage/base.html" %}


{% block content %}

{% load static %}
<div class="row">
    <div class="col-12">
        <div class="box pull-up">
            <div class="box-body bg-img" style="background-image: url({% static 'admin/images/bg-5.png' %});"
                data-overlay-light="9">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-md-flex align-items-center mb-30 mb-lg-0 w-p100">
                        <img src="{% static 'admin/images/svg-icon/color-svg/custom-14.svg' %}"
                            class="img-fluid max-w-150" alt="" />
                        <div class="ms-30">
                            <h4 class="mb-10">Take Advance this opportunity and post a new
                                article!</h4>
                            <p class="mb-0 text-fade">

                                It is a long established fact on posting articles that
                                <br>an article a day keep website refreshing.
                            </p>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="waves-effect waves-light w-p100 btn btn-primary"
                            style="white-space: nowrap;">Start Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="box no-shadow mb-0 bg-transparent">
            <div class="box-header no-border px-0">
                <h4 class="box-title">Top Categories</h4>
                <ul class="box-controls pull-right d-md-flex d-none">
                    <li>
                        <button class="btn btn-primary-light px-10">View All</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% for category in categories %}
    <div class="col-lg-3 col-md-6 col-12">
        <div class="box pull-up">
            <div class="box-body d-flex align-items-center">
                <img src="/uploads/{{ category.featured_image }}" alt="" class="align-self-end h-80 w-80 rounded-circle" style="margin-right:5px">
                <div class="d-flex flex-column flex-grow-1">
                    <h5 class="box-title fs-16 mb-2">{{ category.title }}</h5>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row fx-element-overlay">
    <div class="col-12">
        <div class="box no-shadow mb-0 bg-transparent">
            <div class="box-header no-border px-0">
                <h4 class="box-title">Top Articles</h4>
                <ul class="box-controls pull-right d-md-flex d-none">
                    <li>
                        <button class="btn btn-primary-light px-10">View All</button>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    {% for item in top_four %}
    <div class="col-lg-3 col-md-6 col-12">
        <div class="box">
            <div class="fx-card-item">
                <div class="fx-card-avatar fx-overlay-1" style="height:170px;"> 
                    <img src="/uploads/{{ item.featured_image}}" alt="user"
                        class="bber-0 bbsr-0" >
                    <div class="fx-overlay">
                        <ul class="fx-info">
                            <li><a class="btn btn-danger no-border" href="javascript:void(0);">View More</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fx-card-content">
                    <h4 class="box-title mb-0">{{ item.title }}</h4>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}